*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    display: grid;
    grid-gap: 0.3rem;
    grid-template: 
        "header" 10%
        "sectionder"20%
        "main" auto
        "sectionizq" auto
        "footer" 10%/
            100vw
    ;
    height: 100vh;
}
/*styles of header*/
header{
    grid-area: header;
    background: linear-gradient(0deg, rgb(39, 95, 207) 0%, rgba(1,55,93,1) 100%); 
    color: aliceblue;
}
header .foto_nombre{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header .foto_nombre .foto{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .foto_nombre .foto figure{
    width: 8rem;
    height: 8rem;
    background-color: aqua;
    border-radius: 50%;
}
header .foto_nombre .nombre{
    width: 70%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.sectionizq{
    grid-area: sectionizq;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.sectionizq .contacto{
    margin-top: .5rem;
}
.sectionizq .contacto h2{
    text-align: center;
    
}

.sectionizq .contacto .list_cot{
    margin-top: 0.5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sectionizq .contacto .list_cot .icon{
    width: 30%;
    text-align: center; 
}

.sectionizq .contacto .list_cot .text_cot{
    width: 70%;
}

.sectionizq .software h2{
    text-align: center;
    margin-top: 0.5rem;
}
.sectionizq .software ul{
    margin-top: 0.5rem;
}
.sectionizq .software ul li{
    width: 100%;
    text-align: center;
    list-style: none;
    display: flex;
    flex-direction: row;

}
.sectionizq .software ul li label{
    width: 30%;
    text-align: center;
}

.sectionizq .software ul li progress{
    width: 60%;
    height: 1.5rem;
    text-align: center;
}
.sectionder{
    grid-area: sectionder;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sectionder h3{
    width: 100%;
    text-align: center;
}

.sectionder p{
    width: 100%;
    margin-top: .5rem;
}

main{
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

main .informacion h2{
    text-align: center;
    margin-top: .5rem;
}

main .informacion p{
    margin: 0;
    padding: 0;
    width: 100%;
}

main .educacion {
    margin-top: .5rem;
    width: 100%;
    height: 100%;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
main .educacion h2{
    text-align: center;
}

main .educacion .box{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-top: .5rem;
    
}
main .educacion .box .list_text label{
    width: 100%;
    padding-left: 1rem;
}

footer{
    grid-area: footer;
    height: 100%;
    width: 100%;
    
}

footer .experiencia{
    display: flex;
    flex-direction: column;
}

footer .experiencia h2{
    text-align: center;
}

footer .experiencia .box{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-top: .5rem;
    align-items: center;
}
footer .experiencia .box .list_year{
    width: 30%;
    text-align: center;
}
footer .experiencia .box .list_text{
    width: 70%;
}
footer .experiencia .box .list_text label{
    width: 100%;
    padding-left: 1rem;
}

footer .hobbies{
    margin-top: .5rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(0deg, rgb(39, 95, 207) 0%, rgba(1,55,93,1) 100%); 
    color: aliceblue;
}

footer .hobbies .list_hobies{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
