*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightblue;
}
.container_izq{
    color: #fcfdf9;
    background: linear-gradient(0deg, rgb(39, 95, 207) 0%, rgba(1,55,93,1) 100%);
    grid-area: container_izq;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.container_izq h2{
    padding-bottom: 15px;
}
.container_der{
    background-color: rgba(248, 248, 248, 1);
    grid-area: container_der;
     padding-left: 1rem; 
    padding-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

main{
    max-width: 778px;
    min-width: 310px;
    height: 100%;
    display: grid;

    column-gap: .3rem;
    grid-template: 
        "container_izq container_der" 100%/
            35%            75% 
    ;
}


figure{
    margin-top: 2rem;
    width: 10rem;
    height: 10rem;
    background-color: rgb(76, 114, 241);
    border-radius: 70%;
}
.contacto{
    width: 100%;
    margin-top: .5rem;
    
}
.contacto h2{
    text-align: center;
}

.list_cot{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    align-items: center;
}

.icon{
   
   background-color: #fcfdf9;
   padding: 4px 0 4px 0;
   width: 40%;
   border-radius: 0 10px 10px 0 ;
   height: auto;
   margin-top: .9rem;
}

.text_cot{
    width: 60%;
    text-align: center;
}

.fa_cot{  
    color: rgba(1, 55, 93, 1); 
    padding-left: 60%; 
    font-size: 0.8rem;   
}
.habilidades{
    text-align: center;
    margin-top: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.nombre{
    font-size: 2rem;
    margin-top: 2rem;
    padding-left: .3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nombre h1{
    color: #1e1818;
}
.nombre h2{
    color:  rgba(1, 55, 93, 1);
}

.informacion{
  width: 100%;  
}

.container_der .informacion  h3{
    color: rgba(1,55,93,1);
}
.container_der .informacion  h2{
    width: fit-content;
    padding: 0rem 0.5rem 0.2rem;
    color: #fcfdf9;
    border-radius: 8px;
    background: linear-gradient(0deg, rgb(39, 95, 207) 0%, rgba(1,55,93,1) 100%);
    
} 

.educacion{
    width: 100%;
}
.div_list{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.box{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.list_year{
    width: 10%;
}
.list_text{
    width: 90%;
}

.hobbies{
    width: 80%;
    text-align: center;
    margin: 3.5rem;
}
.list_hobies{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fa_ho{
    font-size: 2rem;
}
ul {
    list-style: none;
}
.container_izq progress{
    height: 15px;
    width: 80px;
}



